<template>
<dashboard>
    <div class="new-config-form">
        <edt-config ref="add-config-form"/>
        <el-button class="float-right" type="primary" @click="submitConfig">提 交</el-button>
    </div>
</dashboard>
</template>

<script>
import _ from "lodash"
import backend from "../async"
import dashboard from "../layouts/dashboard"
import edtConfig from "../forms/edtConfig"

export default {
    components: {
        "dashboard": dashboard,
        "edt-config": edtConfig
    },
    methods: {
        async submitConfig() {
            let form = this.$refs["add-config-form"]
            let config = _.cloneDeep(form.config)
            config.type = parseInt(config.type)
            let res = await backend.addConfig(config)
            if (typeof res === "string") {
                this.$message.error(`提交配置发生错误：${res}`)
            } else {
                this.$message({
                    message: "提交配置成功",
                    type: 'success'
                })
                form.resetConfig()
            }
        }
    }
}
</script>

<style>
.new-config-form {
    margin: 20vh 15vw;
}
</style>