<template>
<dashboard>
    <el-table class="mb-20" :data="configs" :span-method="mergeCfgDomain" border>
        <el-table-column prop="topic" label="主题（文件）"/>
        <el-table-column prop="section" label="块（配置组）"/>
        <el-table-column prop="key" label="键名"/>
        <el-table-column prop="value" label="键值"/>
        <el-table-column prop="type" label="值类型" width="120">
            <template slot-scope="scope">
                <el-tag size="small" disable-transitions>{{scope.row.type}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="right">
            <template slot-scope="scope">
                <el-button size="mini" @click="hdlEditConfig(scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" @click="hdlDelConfig(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-button class="float-right" type="primary" @click="showCopyCfgDlg = true">克隆到其他项目</el-button>
    <!--++++++++++++++++++++++++++++++++++++++++++++++-->
    <el-dialog title="修改配置" :visible.sync="showEditCfgDlg" width="40vw">
        <edt-config ref="edit-config-form" :reqEditConfig="editing"/>
        <span slot="footer" class="dialog-footer">
            <el-button @click="showEditCfgDlg = false">取 消</el-button>
            <el-button type="primary" @click="hdlSubChgConfig">确 定</el-button>
        </span>
    </el-dialog>
    <!--++++++++++++++++++++++++++++++++++++++++++++++-->
    <el-dialog title="克隆配置" :visible.sync="showCopyCfgDlg" width="30vw">
        <copy-configs ref="copy-config-form" :configs="configs"/>
        <span slot="footer" class="dialog-footer">
            <el-button @click="showCopyCfgDlg = false">取 消</el-button>
            <el-button type="primary" @click="hdlCopyConfigs">确 定</el-button>
        </span>
    </el-dialog>
</dashboard>
</template>

<script>
    import _ from "lodash"
    import backend from "../async"
    import dashboard from "../layouts/dashboard"
    import edtConfig from "../forms/edtConfig"
    import copyConfigs from "../forms/copyConfigs"

    export default {
    components: {
        "dashboard": dashboard,
        "edt-config": edtConfig,
        "copy-configs": copyConfigs
    },
    data() {
        return {
            showEditCfgDlg: false,
            configs: [],
            editing: {},
            showCopyCfgDlg: false
        }
    },
    async created() {
        await this.updateConfigs()
    },
    methods: {
        async updateConfigs() {
            let res = await backend.qryConfigs(this.$route.query.project)
            if (typeof res === "string") {
                this.$message.error(`查询配置时发生错误：${res}`)
            } else {
                this.configs = res.data.data.configs || []
            }
            res = await backend.types()
            if (typeof res === "string") {
                this.$message.error(`查询值类型时发生错误：${res}`)
            } else {
                let typMap = res.data.data.types || {}
                this.configs = this.configs.map(config => {
                    let stype = `${config.type}`
                    if (stype in typMap) {
                        config.type = typMap[stype]
                    }
                    return config
                })
            }
            this.configs = _.sortBy(this.configs, ["project", "topic", "section", "key"])
        },
        mergeCfgDomain({ row, column, rowIndex, columnIndex }) {
            // console.log(rowIndex)
        },
        hdlEditConfig(config) {
            this.editing = _.cloneDeep(config)
            this.showEditCfgDlg = true
        },
        async hdlSubChgConfig() {
            let config = _.cloneDeep(this.editing)
            config.type = parseInt(config.type)
            let res = await backend.updConfigByID(config)
            if (typeof res === "string") {
                this.$message.error(`更新配置发生错误：${res}`)
            } else {
                this.$message({
                    type: "success",
                    message: "更新成功！"
                })
                await this.updateConfigs()
            }
            this.showEditCfgDlg = false
        },
        hdlDelConfig(config) {
            this.$confirm("确认删除配置？", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning"
            }).then(async () => {
                let res = await backend.delConfigByID(config.id)
                if (typeof res === "string") {
                    this.$message.error(`删除配置时发生错误：${res}`)
                } else {
                    this.$message({
                        type: "success",
                        message: "删除成功!"
                    });
                    await this.updateConfigs()
                }
            }).catch(() => {
                this.$message({
                    type: "info",
                    message: "已取消删除"
                });
            });
        },
        async hdlCopyConfigs() {
            let target = this.$refs["copy-config-form"].targetProject
            let source = this.$route.query.project
            let res = await backend.copyConfigs(source, target)
            if (typeof res === "string") {
                this.$message.error(`拷贝配置时发生错误：${res}`)
            } else {
                this.$message({
                    type: "success",
                    message: "拷贝成功！"
                })
                this.showCopyCfgDlg = false
                window.location.href = "/#/config-center/frontend/set_config?project=" + target
            }
        }
    },
    // 通过监听路由来刷新配置
    watch: {
        async "$route"() {
            await this.updateConfigs()
        }
    }
}
</script>