<template>
<el-form ref="form" label-position="top" label-width="80px">
    <el-form-item>
        <el-col :span="14">
            <el-select class="w-100" v-if="inSelProjMod" v-model="targetProject" placeholder="选择目标项目">
                <el-option v-for="proj in allProjects" :key="proj" :label="proj" :value="proj"/>
            </el-select>
            <el-input v-else v-model="targetProject" placeholder="新建项目"/>
        </el-col>
        <el-col :span="10">
            <el-button class="float-right" @click="hdlSwitchProjMod">
                {{inSelProjMod ? "新增项目" : "选择项目"}}
            </el-button>
        </el-col>
    </el-form-item>
    <!-- 开发中 -->
    <!--<el-form-item>-->
        <!--<el-tree class="config-tree" :data="data" :props="defaultProps" show-checkbox/>-->
    <!--</el-form-item>-->
</el-form>
</template>

<script>
import backend from "../async"

export default {
    props: {
        "configs": Array
    },
    data() {
        return {
            targetProject: "",
            allProjects: [],
            inSelProjMod: true,
            data: [{
                label: '一级 1',
                children: [{
                    label: '二级 1-1',
                    children: [{
                        label: '三级 1-1-1'
                    }]
                }]
            }, {
                label: '一级 2',
                children: [{
                    label: '二级 2-1',
                    children: [{
                        label: '三级 2-1-1'
                    }]
                }, {
                    label: '二级 2-2',
                    children: [{
                        label: '三级 2-2-1'
                    }]
                }]
            }, {
                label: '一级 3',
                children: [{
                    label: '二级 3-1',
                    children: [{
                        label: '三级 3-1-1'
                    }]
                }, {
                    label: '二级 3-2',
                    children: [{
                        label: '三级 3-2-1'
                    }]
                }]
            }],
            defaultProps: {
                children: 'children',
                label: 'label'
            }
        }
    },
    async created() {
        let res = await backend.listProjects()
        if (typeof res === "string") {
            this.$message.error(`查询所有项目时发生错误：${res}`)
        } else {
            this.allProjects = res.data.data.values || []
        }
    },
    methods: {
        hdlSwitchProjMod() {
            this.targetProject = ""
            this.inSelProjMod = !this.inSelProjMod
        }
    }
}
</script>

<style lang="scss">
    .config-tree {
        label.el-checkbox {
            margin-bottom: 0!important;
        }
    }
</style>