<template>
<el-form ref="form" :model="config" label-width="100px">
    <el-form-item label="项目">
        <el-col :span="18">
            <el-select class="w-100" v-if="inSelProjMod" v-model="config.project" placeholder="选择所属项目">
                <el-option v-for="proj in allProjects" :key="proj" :label="proj" :value="proj"/>
            </el-select>
            <el-input v-else v-model="config.project" placeholder="新建项目"/>
        </el-col>
        <el-col :span="6">
            <el-button class="float-right" @click="hdlSwitchProjMod">
                {{inSelProjMod ? "切换输入项目" : "切换选择项目"}}
            </el-button>
        </el-col>
    </el-form-item>
    <el-form-item label="主题（文件）">
        <el-input v-model="config.topic" placeholder="输入主题"/>
    </el-form-item>
    <el-form-item label="块（配置组）">
        <el-input v-model="config.section" placeholder="输入配置块（可选）"/>
    </el-form-item>
    <el-form-item label="键名">
        <el-input v-model="config.key" placeholder="输入键名"/>
    </el-form-item>
    <el-form-item label="键值">
        <el-input v-model="config.value" placeholder="输入键值"/>
    </el-form-item>
    <el-form-item label="值类型">
        <el-select class="w-100" v-model="config.type" placeholder="选择值类型">
            <el-option v-for="(typ, idx) in valTypes" :key="idx" :label="typ" :value="idx"/>
        </el-select>
    </el-form-item>
</el-form>
</template>

<script>
import backend from "../async"

export default {
    props: {
        "reqEditConfig": Object
    },
    data() {
        return {
            config: {
                project: ""
            },
            inSelProjMod: true,
            allProjects: [],
            valTypes: {}
        }
    },
    async created() {
        let res = await backend.listProjects()
        if (typeof res === "string") {
            this.$message.error(`查询所有项目时发生错误：${res}`)
        } else {
            this.allProjects = res.data.data.values || []
        }
        res = await backend.types()
        if (typeof res === "string") {
            this.$message.error(`查询值类型时发生错误：${res}`)
        } else {
            this.valTypes = res.data.data.types || {}
        }
        if (this.reqEditConfig) {
            this.config = this.reqEditConfig
            for (let idx in this.valTypes) {
                if (this.config.type === this.valTypes[idx]) {
                    this.config.type = idx
                    break
                }
            }
        }
    },
    methods: {
        hdlSwitchProjMod() {
            this.config.project = ""
            this.inSelProjMod = !this.inSelProjMod
        },
        resetConfig() {
            this.config = { project: "" }
            this.inSelProjMod = true
        }
    },
    watch: {
        reqEditConfig() {
            this.config = this.reqEditConfig
        }
    }
}
</script>

