<template>
<el-container class="h-100">
    <el-header class="p-0" style="position: fixed; top: 0; width: 100%; z-index: 50;">
        <el-menu class="el-menu-demo" mode="horizontal">
            <el-menu-item><a href="/">主页</a></el-menu-item>
        </el-menu>
    </el-header>
    <el-aside class="sidebar" width="20vw">
        <el-menu class="h-100" router :default-active="$route.path" @open="hdlOpenProjs">
            <el-menu-item index="/config-center/frontend/new_config">
                <i class="el-icon-circle-plus"></i>
                <span slot="title">新建配置</span>
            </el-menu-item>
            <el-submenu index="/config-center/frontend/set_config">
                <template slot="title">
                    <i class="el-icon-menu"></i>
                    <span>项目配置</span>
                </template>
                <el-menu-item-group>
                    <el-menu-item v-for="project in projects" :key="project" :index="`/config-center/frontend/set_config?project=${project}`">{{project}}</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
        </el-menu>
    </el-aside>
    <el-main class="main"><slot/></el-main>
</el-container>
</template>

<script>
import backend from "../async"

export default {
    data() {
        return {
            projects: []
        }
    },
    async created() {
        await this.updateProjs()
    },
    methods: {
        async updateProjs() {
            let res = await backend.listProjects()
            if (typeof res === "string") {
                this.$message.error(`查询所有项目时发生错误：${res}`)
            } else {
                this.projects = res.data.data.values || []
            }
        },
        async hdlOpenProjs() {
            await this.updateProjs()
        }
    }
}
</script>

<style>
.sidebar {
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 60px;
    z-index: 51;
}
.main {
    height: 90%;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 20vw;
    right: 0;
}
</style>